aside {
	width: 30%;
	border-right: solid 1px @colorborder;
		// доставка
		.delivery {
			width: 90%;
			height: 200px;
			background: linear-gradient(to bottom, #DBDBDB, @colortopmenu);
			padding-top: 50px;
			.icon {
				background-image: url(../img/shape-49.png);
				width: 36px;
				height: 60px;
				margin: auto;
				position: relative;
				&:after{
					content: '';
					position: absolute;
					width: 219px;
					height: 21px;
					background-image: url(../img/group-18.png);
					top: 52px;
    				right: -97px;
    				border-radius: 55%;
				}
			}
			h1 {
				font-size: 22px;
			    margin-top: 20px;
			    width: 190px;
			    padding-top: 30px;
			    margin: auto;
			    text-align: center;
			    color: darken(@colorborder, 25%);
			    span {
			    	font-weight: bold;
			    	color: darken(@colorborder, 25%);
			    }
			}
		}
		// твиттер письма
		.twitter-leter {
		.sidbar-block;
			.twitter-title {
				text-transform: uppercase;
				font-size: 18px;
			}
			ul {
				padding: 10px 10px 10px 33px;
				li {
					position: relative;
					margin-bottom: 20px;
					line-height: 1.5;
					font-style: italic;
					span {
						color: darken(@colorborder, 25%);
					}
					&:before {
						content: '';
						position: absolute;
						width: 31px;
						height: 23px;
						background-image: url(../img/twitter.png);
						left: -35px;

					}
				}
			}
		}
		// отзывы
	.our-client {
	.sidbar-block;
	}
	.twitter-title {
		text-transform: uppercase;
		font-size: 18px;
		margin-bottom: 20px;
	}
	p {
		padding: 10px;
		background-color: @colorwhitehover;
		width: 250px;
		color: @colorBlack;
		line-height: 1.5;
		font-style: italic;
		color: darken(@colorborder, 25%);
		position: relative;
		margin-bottom: 35px;
		&:after{
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-left: 0px solid transparent;
		    border-right: 25px solid transparent;
		    border-top: 25px solid @colorwhitehover;
		    bottom: -20px;
		    left: 20px;
		}
	}
	h2 {
		color: darken(@colorborder, 25%);
		margin-left: 40px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			width: 26px;
			height: 29px;
			background-image: url(../img/icon.png);
			top: -14px;
			left: -39px;
		}
	}
}


@media @tablets {
	aside {
		p{
			width: 190px;
		}
		.delivery {
			width: 100%;
			.icon {
				&:after{
					width: 190px;
					top: 52px;
    				right: -68px;
				}
			}
		}
		.twitter-leter,
		.our-client {
			padding-left: 10px;
		}
	}
}

@media @mobile {
	aside {
		width: 100%;
		border: none;

		.delivery {
			width: 100%;
			padding-top: 20px;
			height: 180px;
			h1{
				font-size: 20px;
			}
		}
		.twitter-leter {
			margin-top: 20px;
    		font-size: 12px;
			.twitter-title{
				font-size: 14px;
				text-align: center;
				margin-bottom: 10px;
			}
			ul {
				padding: 10px 10px 10px 40px;
			}
		}
		.our-client {
			margin-top: 0px;
			padding: 0px 10px 0px 10px; 
			.twitter-title{
				font-size: 14px;
				text-align: center;
				margin-bottom: 10px;
			}
			p{
				width: 100%;
				font-size: 12px;
			}
			h2{
				margin-bottom: 30px;
    			border-bottom: 1px solid @colorhedsaidbar;
			}
		}
	}
	
}




